[user]
	name = Parth Krishna
	email = thenerdsuperuser@gmail.com
	signingkey = BE09851289737E18
[alias]
	uncommit = reset HEAD^
	glog = log --graph --oneline --decorate
	stat = status -s
	lol = log --graph --pretty=format:'%C(yellow)%h%Creset%C(cyan)%C(bold)%d%Creset %C(cyan)(%cr)%Creset %C(green)%ce%Creset %s'
